{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>Character Creator</title>
</head>
<body>
    <h1>Select Your Character's Starting Info</h1>
    <form method="POST" action="{{ url_for('index') }}">
        {{ form.csrf_token }}
        {{ form.characterName.label }} {{ form.characterName }} <br>
        {{ form.dndClass.label }} {{ form.dndClass }} <br>
        {{ form.automaticProficiencies.label }} {{ form.automaticProficiencies }} <br>
        {{ form.proficiencyChoices.label }} {{ form.proficiencyChoices }} <br>
        {{ form.autoStartingEquipment.label }} {{ form.autoStartingEquipment }} <br>
        {{ form.equipmentOptions.label }} {{ form.equipmentOptions }} <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>

{% endblock %}